@model Sensor
@{
    var a = ViewData["pokes"];
}

<div class="form-group">
    <label asp-for="AccessPointId" class="col-sm-3 control-label">Access Point Id</label>
    <div class="col-sm-6">
        <input id="txtFac" asp-for="AccessPointId" class="form-control" />
    </div>

</div>

<div class="form-group">
    <label asp-for="SensorName" class="col-sm-3 control-label">
        Sensor Name
    </label>
    <div class="col-sm-6">
        <input id="txtDesc" asp-for="SensorName" class="form-control" />
    </div>
</div>


