
@{
    ViewData["Title"] = "Home";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<br />
<h1>Welcome to Smiley</h1>

<br />
<br />
<div class="section-text mb-3">
    <h2 class="h2" style="text-align: center;">About</h2>
</div>

<p>
    Smiley provides an <b>intelligent, natural and touchless interface</b> to users by using gestures and speech. With the use of AI, Smiley can currently recognise 15 gestures including <i>Good, Bad, Neutral, Open, Close</i> and numerals <i>Zero</i> to <i>Nine</i>.  Using a combination of these gestures, a user can control lifts, access buildings and to give feedback. Beside using gestures, Smiley can use speech as an alternative interface with the system.
</p>

<p>
    Powered by AI, not only Smiley can recognise gesture and speech commands, it can also recognise the faces and the voices its registered users.  In this way, Smiley can be configured to provide <b>access control</b>.  For example, only certain users are authorised to access certain facilities at certain times.
</p>

<p>
    When Smiley interacts with its users, it can also detect various face emotions and sentiments of spoken words.  This can be very useful in <b>gauging service quality</b> in the context of business.  Smiley could detect when and where a customer is satisfied and compliments a service staff,  or otherwise, for angry emotions and negative spoken words.  The Smiley Web Dashboard can provide this <b>business analytics</b> information to its registered users.
</p>

<p>
    Smiley is <b>extensible</b>.  It can be AI-trained to recognise more gestures and speech commands.  A user can register with Smiley using his/her face and/or voice.  For the authorisation feature of Smiley, the user can setup <b>multi-factor authentication</b> to use a combination of two factors from gestures, face and voice methods.
</p>

<br />
<br />

<div class="section-text mb-3">
    <h2 class="h2" style="text-align: center;">The Team</h2>
</div>

<div class="row column-row">
    <div>
        <section class="card card-column bg-transparent rounded-0 border-0" style="align-items:center;">
            <section class="card-body pb-1 pos-rel z-4">
                <figure class="section-img text-center mb-2">
                    <a href="https://www.linkedin.com/in/siew-theng-mok-99186419b">
                        <img width="350" height="300" src="~/images/angeline.jpg" class="attachment-square size-square" alt="Angeline" sizes="(max-width: 300px) 100vw, 300px" />
                    </a>
                </figure>
                <div class="column-text mt-1">
                    <h4 class="h5 mb-1">Mok Siew Theng</h4>
                    <p>Mobile App</p>
                </div>
            </section>
        </section>
    </div>

    <div>
        <section class="card card-column bg-transparent rounded-0 border-0" style="align-items:center;">
            <section class="card-body pb-1 pos-rel z-4">
                <figure class="section-img text-center mb-2">
                    <a href="https://www.linkedin.com/in/jinhan-ke-57572918a/">
                        <img width="350" height="300" src="~/images/jinhan.jpg" class="attachment-square size-square" alt="jinhan" sizes="(max-width: 300px) 100vw, 300px" />
                    </a>
                </figure>
                <div class="column-text mt-1">
                    <h4 class="h5 mb-1">Ke Jinhan</h4>
                    <p>IOT</p>
                </div>
            </section>
        </section>
    </div>

    <div>
        <section class="card card-column bg-transparent rounded-0 border-0" style="align-items:center;">
            <section class="card-body pb-1 pos-rel z-4">
                <figure class="section-img text-center mb-2">
                    <a href="https://www.linkedin.com/in/zeng-jiamei/">
                        <img width="350" height="300" src="~/images/jiamei.jpg" class="attachment-square size-square" alt="jiamei" sizes="(max-width: 400px) 100vw, 300px" />
                    </a>
                </figure>
                <div class="column-text mt-1">
                    <h4 class="h5 mb-1">Zeng Jiamei</h4>
                    <p>Web App</p>
                </div>
            </section>
        </section>
    </div>

</div>

<br />
<br />

<div>

    <div>
        <figure class="section-img text-center mb-2"><img width="350" height="300" src="~/images/Raspberry Pi (no border) .png" class="attachment-square size-square" alt="pi" sizes="(max-width: 400px) 100vw, 300px" /></figure>
    </div>

</div>
